<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>


    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github-uniproof-back-connector</id>
                    <name>GitHub UNIPROOF Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/uniproof/uniproof-back-connector</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>github-uniproof-java-service</id>
                    <name>GitHub UNIPROOF Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/uniproof/uniproof-java-service</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github-uniproof-back-connector</id>
            <username>napalmsp</username>
            <password>b94964d140e562b3e39edd55ad095fab989b522c</password>
        </server>
        <server>
            <id>github-uniproof-java-service</id>
            <username>napalmsp</username>
            <password>b94964d140e562b3e39edd55ad095fab989b522c</password>
        </server>
    </servers>
</settings>
